@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,500&display=swap');
*{
  font-family: 'Kufam', cursive;
}
.wrap{
  max-width: 400px;
  margin: auto;
}
.caption{
  border-bottom: 6px groove;
  text-align: justify;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
input{
  margin-bottom: 15px;
  border: 2px solid #1b2631;
  border-radius: 10px;
  padding-left: 10px;
}
.wrong{
  margin-bottom: 15px;
  color: red;
}
.btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 20px 0;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #1b2631;
  color: #1b2631;
  transition: .4s;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0,0,0,0);
  transition: .4s;
}
.btn:hover:after {
  border-color: #1b2631;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
.field{
  border: 2px solid #1b2631;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
